@import "bulma";

@include mobile {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .button-confirm {
    width: 100%;
  }
}

@include tablet {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.radio-container {
  &:hover {
    background-color: $white-ter;
  }
  
  // doesn't work on firefox as of 02.2023
  &:has(input:checked) {
    background-color: $grey-lightest;
  }
}
