@import "bulma";

@include mobile {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .button-confirm {
    width: 100%;
  }
}

@include tablet {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.is-sticky {
  position: sticky;
  top: 1.5rem;
}

.radio-container {
  &:hover {
    background-color: $white-ter;
  }

  // doesn't work on firefox as of 02.2023
  &:has(input:checked) {
    background-color: $grey-lightest;
  }
}

.panel-header {
  background-color: $white-ter;
}

.panel {
  overflow: hidden;
  border: 1px solid $grey-lightest;
}

.panel-block {
  padding-left: 1rem;
  padding-right: 1rem;
}

.is-transparent {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.line-left {
  border-left: 4px solid $grey-lighter;
  padding-left: 0.75rem;
}

// chrome
::-webkit-datetime-edit-text {
  padding: 0 0.3em;
}
