body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

@import "bulma";

@include mobile {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .button-confirm {
    width: 100%;
  }
}